# Log
LOGGING_DIR=logs
LOGGING_LEVEL=debug

# Auth
JWT_SECRET_KEY={{cnf["jwt"]["secret_key"]}}
SECRET_KEY='WJiol_8776#'

# OAuth
MS_CLIENT_ID="{{cnf["Authentications"]["Microsoft"]["ClientId"]}}"
MS_CLIENT_SECRET="{{cnf["Authentications"]["Microsoft"]["ClientSecret"]}}"

WX_APP_ID="{{cnf["Authentications"]["Wechat"]["AppId"]}}"
WX_SECRET="{{cnf["Authentications"]["Wechat"]["AppSecret"]}}"

# Server
APP_HOST=localhost
APP_PORT=5001

# Database
DB_HOST={{cnf["mysql_node"]}}
DB_TYPE=mysql
DB_PORT={{cnf["mysql_port"]}}
DB_USERNAME={{cnf["mysql_username"]}}
DB_PASSWORD="{{cnf["mysql_password"]}}"
DB_NAME=user_group

ADMINISTRATOR_USER_NAME="[{% for admin in cnf["UserGroups"]["DLWSAdmins"]["Allowed"] %}"{{admin}}"{% if loop.index != loop.length %},{% else %} {% endif %}{% endfor %}]"
ADMINISTRATOR_PASSWORD=123456

# Cluster
RESTFULAPI="http://{{cnf["restfulapi_node"]}}/apis"