# Log
LOGGING_DIR=logs
LOGGING_LEVEL=debug

# Auth
JWT_SECRET_KEY=Sign key for JWT
SECRET_KEY='WJiol_8776#'

# OAuth
MS_CLIENT_ID="6d93837b-d8ce-48b9-868a-39a9d843dc57"
MS_CLIENT_SECRET="eIHVKiG2TlYa387tssMSj?E?qVGvJi[]"

WX_APP_ID="wxa3883ec76f021456"
WX_SECRET="e334bbddd8d4f56d718dbe267050e137"

# Server
APP_HOST=localhost
APP_PORT=5001

# Database
DB_HOST=atlas02.sigsus.cn
DB_TYPE=mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD="apulis#2019#wednesday"
DB_NAME=user_group

ADMINISTRATOR_USER_NAME="["jinlmsft","jinli.ccs","jin.li","bifeng.peng","tianhui.liu","penghao.zeng","zenglong.chen" ]"
ADMINISTRATOR_PASSWORD=123456

# Cluster
RESTFULAPI="http://atlas02.sigsus.cn/apis"