.selectTreeWrap {
  position: relative;
  .inputField {
    position: absolute;
    top: 10px;
    left: 0;
  }
}
.selectTree {
  padding: 10px 0 10px 24px;
  .MuiTreeItem-iconContainer {
    svg:last-child {
      margin-right: 12px;
    }
  }
}
